<div class="row1">
    <div class = "column">
        <img src='https://5.imimg.com/data5/RG/TC/MY-26510561/guess-watch-for-men-500x500.jpg' height="50%"  />
        <br>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> watch</label><br>    </div>
    <div class = "column">
        <img src='https://tiimg.tistatic.com/fp/1/006/179/mens-kurta-pyjama-set-466.jpg'height="50%" />
        <br>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> kurta</label><br>    
    </div>
    <div class = "column">
        <img src='https://www.kumaransilksonline.com/image/cache/catalog/products/2021/Feb/KUSR28609-250x300.jpg'height="50%" />
        <br>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> Saree</label><br> 
    </div>
    <div class = "column">
        <img src='https://m.media-amazon.com/images/I/71D9ImsvEtL._UY500_.jpg'height="50%" />
        <br>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> shoes</label><br> 
    </div>
   </div>
<div class="row1">
    <div class = "column">
        <a href="/watch"><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpxhZ2dwwFz0N8WxhP8carlvvlE0VRfWICDg&usqp=CAU' height="50%"  />
        </a>
        <br>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> toys</label><br> 
    </div>
    <div class = "column">
        <img src='https://4.imimg.com/data4/HH/EG/MY-20770002/kids-frock-500x500.jpg'height="50%" />
        <br>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> frock</label><br> 
    </div>
    <div class = "column">
        <img src='https://www.kumaransilksonline.com/image/cache/catalog/products/2021/Feb/KUSR28609-250x300.jpg'height="50%" />
        <br>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> silk Sarees</label><br> 
    </div>
    <div class = "column">
        <img src='https://m.media-amazon.com/images/I/71D9ImsvEtL._UY500_.jpg'height="50%" />
        <br>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> nike shoe</label><br> 
    </div>
</div>
<button routerLink="/orderplace"type="submit" class="me">Place an order

</button>