<!--This code is the login page code for the cms app-->
<body>
    <main>
      <div class="container">
        <section class="login-form">
          <h1>Login to CMS App</h1>
          <form>
            <input type="email" placeholder="Email" >
            <input type="password" placeholder="Password" />
            <button type="submit" >Log In</button>
            <p>
              <span>or</span>
            </p>
          </form>
          <button class="create-account">Create New Account
          </button>
          <br />
          <button class="btn btn-primary back" >Back
          </button>
        </section>
      </div>
    </main>
  </body>
  