<!--This code is the login page code for the cms app-->
<body>
    <main>
      <div class="container">
        <section class="login-form">
          <h1>Login to CMS App</h1>
          <form>
            <input type="email" placeholder="Email" >
            <input type="password" placeholder="Password" />
            <button routerLink="/product" type="submit" >Log In</button>
            <a href="/forgotpassword">Forgotpassword?</a>
            <p>
              <span>or</span>
            </p>
          </form>
          <button type= "submit" routerLink="/" class="create-account">Create New Account
          </button>
          <br />
        </section>
      </div>
    </main>
  </body>
  