/* This code is the login page css code for the cms app */
/* Removing user agent default styles */



.main-heading {
  text-align: center;
  color: rgb(32, 211, 157);
  font-family: 'Roboto', sans-serif;
}

/* Resetting button styles  */
button {
  border: 0;
}

ul {
  list-style: none;
}


/* Main Styles */

main {
  background-image: url("https://media.istockphoto.com/photos/online-shopping-ecommerce-and-delivery-service-concept-paper-cartons-picture-id1024926532?k=20&m=1024926532&s=612x612&w=0&h=9_celYiqtFqAnGYcvY0B_Jt5zsmeo_QrwuMs76bv1HY=");
  background-size: cover;
  padding: 175px 0;

}

.login-form {
  margin: auto;
  background: #ebede1;
  width: 400px;
  text-align: center;
  padding: 40px ;
}

.login-form h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 10px 0;
  font-weight: 100;
}

.login-form a {
  color: #385898;
  font-size: 12px;
  margin: 10px 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

form input,
form button {
  width: 100%;
  box-sizing: border-box;
}

form input {
  margin: 5px 0;
  padding: 8px;
  border: 1px solid #e1e1e1;
  height: 35px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

form button {
  background-color: #56a1cc;
  color: white;
  padding: 14px;
  margin: 5px 0;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.create-account {
  padding: 12px 16px;
  font-weight: bold;
  color: #ffffff;
  background: #42b72a;
  margin: 10px 0;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  border-width: 0px;
  border-radius: 10px;
}

form p {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e1e1e1;
  line-height: 0.1em;
  margin: 16px 0 20px;
  font-family: 'Roboto', sans-serif;
}
form p span {
  background: #fff;
  padding: 0 10px;
}

.back {
  background-color: #42b72a;
  height: 40px;
  width: 90px;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border-width: 0px;
  border-radius: 10px;
}
