/* This code is the login page css code for the cms app */
/* Removing user agent default styles */



/* Resetting button styles  */
button {
  border: 10;
}
.container{
    align-content: center;
    padding: 16px;
}

.login-form {
  background: #2ccbe7;
  width: 400px;
  text-align: center;
  padding: 50px 40px;
}

.login-form h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 10px 0;
  font-weight: 100;
}



form {
    align-content: center;
  max-width: 300px;
  margin: 0 auto;
}

form input,
form button {
  width: 100%;
  box-sizing: border-box;
}

form input {
  margin: 5px 0;
  padding: 8px;
  border: 1px solid #e1e1e1;
  height: 35px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

form button {
  background-color: #56a1cc;
  color: white;
  padding: 14px;
  margin: 5px 0;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}


  



