<!--This code is the login page code for the cms app-->
<body>
  <main>
    <div class="container">
      <section class="login-form">
        <h1>Forgot Password</h1>
        <form>
          <input type="email" placeholder="Email" >
          <input type="password" placeholder=" new Password" />
          <button  type="submit"  route-link="/signup" >Submit</button>
          <button  type="submit" href="/login">back</button>
        </form>
        <br />
      </section>
    </div>
  </main>
</body>
