<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="things">Select the category </body>

<div class="row1">
    <div class = "column">
        <a href="/watch"><img src='https://media.gq.com/photos/5e8c9a7cc21b8b00087a00f1/master/pass/watches-fix.jpg' style="height:53%"  />
        </a>
        <p class="watch">watches</p>
    </div>
    <div class = "column">
        <img src='https://cdn.shopify.com/s/files/1/0026/6544/7536/products/walking-angels-trouser-813464_400x.jpg?v=1635228331' style="width:100%"/>
        <p class="watch">Men's Cloth</p>
    </div>
    <div class = "column">
        <img src='https://cdn.shopify.com/s/files/1/0026/6544/7536/products/varaha-blouse-788684_800x.jpg?v=1636458622' style="width:100%"/>
        <p  href=" /"class="watch"> Women's Cloth</p>
    </div>
  </div>
  
  <div class="row2">
    <div class = "column">
        <img  src='https://img.etimg.com/thumb/msid-81279257,width-1200,height-900/news/company/corporate-trends/india-holds-export-potential-in-toy-sector-says-commerce-secretary-anup-wadhawan.jpg' style="height:50% "style="width:175%"/>
        <p class="watch">Toys</p>
    </div>
    <div class = "column">
        <img src='https://cdn.shopify.com/s/files/1/0026/6544/7536/products/twinkle-twinkle-little-star-915085_400x.jpg?v=1634095180' style="width: 100%"/>
        <p class="watch">kids ware</p>
    </div>
    <div class = "column">
        <img src='https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-running-shoes-lead-1576249557.jpg' style="height:48%"/>
        <p class="watch">Shoes</p>
    </div>
  </div>
</html> 
<!-- <div class="row1">
    <div class = "column">
      <a  href="/watch">Sarees <img src='https://media.gq.com/photos/5e8c9a7cc21b8b00087a00f1/master/pass/watches-fix.jpg' style="width:100%" />
      </a>
    </div>
</div> -->