<!--This code is the signup page code for the cms app-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="/login" >Signin</a>
    <a  href="/product">Cart</a>
    <a >AboutUs</a>
  </div>
    <main>
  <div >
  <div>
    <h1 class="heading">E-COMMERCE</h1>
  </div>
  <div id="wrapper">
    <div id="div2">
      <br />
      <h1>Create New Account</h1>
      <br />
      <li>
        <input type="text" placeholder="First Name" id="Firstname" required/>
      </li>

      <li>
        <input type="text" placeholder="Surname" id="surname" required/>
      </li>

      <li>
        <input type="text" placeholder="email" id="email-input"/>
      </li>
      <li>
        <input type="text" placeholder="Mobilenumber" id="mobileno-input" />
      </li>
      <li>
        <input type="password" placeholder="Password"/>
      </li>
      <li>
        <input type="password" placeholder="Confirm Password" />
      </li>
      <br />

      <input type="submit" routerLink="/login" value="Submit" class="back"  />
      <br />
      <button class="btn btn-primary back" >Back
      </button>
    </div>
  </div>
</div>
    </main>
</body>
</html>